<!-- src/app/dashboard/dashboard.component.html -->
<div class="dashboard-bg">
  <div class="dashboard-center">
    <div class="dashboard-grid">
      <a routerLink="/events" class="icon-card">
        <i class="bi bi-calendar-event"></i>
        <span>Eventos</span>
      </a>
      <a routerLink="/affiliate" class="icon-card">
        <i class="bi bi-people"></i>
        <span>Afiliados</span>
      </a>
      <a routerLink="/users" class="icon-card">
        <i class="bi bi-person-badge"></i>
        <span>Usuarios</span>
      </a>
    </div>
  </div>
</div>
  