<!-- src/app/dashboard/dashboard.component.html -->
<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="d-flex flex-wrap gap-5">
      <a routerLink="/events" class="icon-card">
        <i class="bi bi-calendar-event"></i>
        <span>Eventos</span>
      </a>
      <a routerLink="/affiliate" class="icon-card">
        <i class="bi bi-people"></i>
        <span>Afiliados</span>
      </a>
      <a routerLink="/users" class="icon-card">
        <i class="bi bi-person-badge"></i>
        <span>Usuarios</span>
      </a>
    </div>
  </div>
  